{% extends 'layouts/base.html.twig' %}


{% block content %}
<header>{% block header %}{% endblock %}</header>
<section>{% block main %}{% endblock %}</section>
<footer>{% block footer %}{% endblock %}</footer>
{% endblock %}